<extend name="Base/base" />

<block name="main">
    <!-- Content Header (Page header) -->
        <section class="content-header">
          <h1>
            <i class="fa fa-calendar"></i>
			       配送员管理
          </h1>
          <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> 首页</a></li>
            <li><a href="#"> 配送员管理</a></li>
            <li class="active">编辑配送员信息</li>
          </ol>
        </section>

        <!-- Main content -->
        <section class="content">
          <div class="row">
            <!-- right column -->
            <div class="col-md-12">
              <!-- Horizontal Form -->
              <div class="box box-primary">
                <div class="box-header with-border">
                  <h3 class="box-title"><i class="fa fa-plus"></i> 编辑配送员信息</h3>
                </div><!-- /.box-header -->
                <!-- form start -->
                <form class="form-horizontal" action="__CONTROLLER__/update" method="post" onsubmit="return doSubmit()">
                  <input type="hidden" value="{$d.id}" name="id">
                  <input type="hidden" value="{$u.id}" name="uid">
                  <div class="box-body">
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">用户名</label><span style="font-size:12px;color:#fc0;" id="user"></span>
                      <div class="col-sm-4">
                        <input type="input" class="form-control" name="username" placeholder="UserName" onblur="checkUserName()" onfocus="checkUser()" value="{$u.username}" readonly >
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">昵称</label><span style="font-size:12px;color:#fc0;" id="name" ></span>
                      <div class="col-sm-4">
                        <input type="input" class="form-control" name="name" placeholder="UserName" value="{$u.name}"  onfocus="checkFName()" onblur="checkName()">
                      </div>
                    </div>
                     <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">性别</label><span style="font-size:12px;color:#fc0;" id="user"></span>
                      <div class="col-sm-4">
                        <input type="radio" name="sex"  value="1" <eq name="u.sex" value="1">checked</eq>>男
                        <input type="radio" name="sex"  value="0" <eq name="u.sex" value="0">checked</eq>>女
                        <input type="radio" name="sex"  value="" <eq name="u.sex" value="">checked</eq>>未知
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">电话</label><span style="font-size:12px;color:#fc0;" id="phone"></span>
                      <div class="col-sm-4">
                        <input type="input" class="form-control" name="phone" placeholder="Phone" value="{$u.phone}"  onfocus="checkFPhone()" onblur="checkPhone()">
                      </div>
                    </div>
                    <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">邮箱</label><span style="font-size:12px;color:#fc0;" id="email"></span>
                      <div class="col-sm-4">
                        <input type="email" class="form-control" name="email" placeholder="Email" onblur="checkEmail()" onfocus="checkEm()" value="{$u.email}">
                      </div>
                    </div>
                    <div class="form-group">
                       <label for="inputEmail3" class="col-sm-2 control-label" for="area">辖区</label><span style="font-size:12px;color:#fc0;" id="area"></span>
                      <div class="col-sm-4">
                        <select class="form-control" name="area">
                          <option value="">--请选择辖区--</option>
                          <option value="1" <eq name="d.area" value="1">selected</eq>>小店区</option>
                          <option value="2" <eq name="d.area" value="2">selected</eq>>迎泽区</option>
                          <option value="3" <eq name="d.area" value="3">selected</eq>>杏花岭区</option>
                          <option value="4" <eq name="d.area" value="4">selected</eq>>尖草坪区</option>
                          <option value="5" <eq name="d.area" value="5">selected</eq>>万柏林区</option>
                          <option value="6" <eq name="d.area" value="6">selected</eq>>晋源区</option>                      
                        </select>
                      </div>
                    </div>
					         <div class="form-group">
                      <label for="inputEmail3" class="col-sm-2 control-label">性别</label><span style="font-size:12px;color:#fc0;" id="user"></span>
                      <div class="col-sm-4">
                        <input type="radio" name="status"  value="2" <eq name="d.status" value="2">checked</eq>>闲时
                        <input type="radio" name="status"  value="1" <eq name="d.status" value="1">checked</eq>>正在配送
                        <input type="radio" name="status"  value="0" <eq name="d.status" value="0">checked</eq>>禁用
                        
                      </div>
                    </div>
                  </div><!-- /.box-body -->
                  <div class="box-footer">
          				    <div class="col-sm-offset-2 col-sm-1">
          						    <button type="submit" class="btn btn-primary">修改</button>
                      </div>
          					  <div class="col-sm-1">
          						    <button type="submit" class="btn btn-primary">重置</button>
          					  </div>
                  </div><!-- /.box-footer -->
                </form>
				        <div class="row"><div class="col-sm-12">&nbsp;</div></div>
              </div><!-- /.box -->
       
            </div><!--/.col (right) -->
          </div>   <!-- /.row -->
        </section><!-- /.content -->
</block>
<block name="myscript">
  <literal>
      <script type="text/javascript">
          //表单提交限制
          function doSubmit() {
            return checkUserName()&&checkEmail()&&checkPass()&&checkRPass()&&checkPhone();
          }
          //检测用户名
          function checkUser() {
            var user = $("input[name='username']").val();
            $("#user").html("账号由5-12位字母、数字或下划线组成");
            $("#user").css("color","#fc0");
          }          
          function checkUserName() {
            var user = $("input[name='username']").val();
            if(user.match(/^[a-zA-Z0-9_]{5,12}$/)==null){
                 $("#user").html("请输入正确的账户格式");
                 $("#user").css("color","red");
                return false;
            }else if(user.match(/(^\_)|(\__)|(\_+$)/)){
                $("#user").html("用户名首尾不能出现下划线\'_\'");
                $("#user").css("color","red");
                return false;
            }else if(user.match(/^\d+\d+\d$/)){
                 $("#user").html("用户名不能全为数字");
                 $("#user").css("color","red");
                return false;
            }else{
                 $("#user").html("");
                 $("#user").css("color","#fc0");
                 return true;
            }

          }
          //检测邮箱
          function checkEm() {
            var email = $("input[name='email']").val();
            $("#email").html("邮箱格式为：xxx@xx.xx");
            $("#email").css("color","#fc0");
          }
          function checkEmail() {
            var email = $("input[name='email']").val();
            if (email) {
              if(email.match(/^([a-zA-Z0-9_\.\-])+\@(([a-zA-Z0-9\-])+\.)+([a-zA-Z0-9]{2,4})+$/)==null){
                   $("#email").html("请输入正确的邮箱");
                   $("#email").css("color","red");
                  return false;
              }else{
                   $("#email").html("");
                   $("#email").css("color","#fc0");
                   return true;
              }
            }else{
              $("#email").html("");
              return true;
            }
          }

          //检测name
          function checkFName() {
              $("#name").html("请填写昵称");
              $("#name").css("color","#fc0");
          }
          function checkName() {
              $("#name").html("");
          }
          //检测地址
          function checkFAddr(){
            $("#address").html("请填写您的所在地名称");
            $("#address").css("color","#fc0");
          }
          function checkAddr(){
            $("#address").html("");
            $("#address").css("color","#fc0");
          }
          //检测手机
          function checkFPhone(){
              $("#phone").html("请正确填写电话");
              $("#phone").css("color","#fc0");
          }
         function checkPhone(){
              var phone = $("input[name='phone']").val();
              if (phone.match(/^1[34578]\d{9}$/)==null) {
                $("#phone").html("请输入正确的电话格式");
                $("#phone").css("color","red");
                return false;
              }else{
                $("#phone").html("");
                $("#phone").css("color","#fc0");
                return true;
              }
            
          }
      </script>
  </literal>
</block>