.loginError{
	height:28px;
	line-height:28px;
}
.loginSMS{
	height:28px;
	line-height:28px;
	
	/*color:#FF6699;*/
}
.loginError span{
	display:none;
	height:20px;
	line-height:20px;
	font-size:14px;
	color:#FF6699;
	margin-top: 3px;
	float:left;
}
.loginError .errorpic{
	margin-left:20px;
	width:20px;
	height:16px;
	background:url(../images/passport-error_04d8fad.png) no-repeat;
	margin-top:6px;
}

.loginSMS span{
	height:28px;
	line-height:28px;
	float:right;
}
.loginSMS .phone{
	width:19px;
	height:14px;
	background:url(../images/smsSwitchPhone_68b31bb.png) no-repeat;
	margin-top:9px;
}
.loginSMS a span:hover{
	color:#7BA1FF;
}
.logincontent{
	border:1px solid #ddd;
	margin-bottom:20px;
}
.logincontent1{
	width:130px;
	border:1px solid #ddd;
	margin-bottom:20px;
	float:left;
}
.logincontent2{
	width:130px;
	border:1px solid #ddd;
	margin-bottom:20px;
	float:right;
	background-color:#F7F7F7;
}
.logincontent1 span input{
	width:100px;
	border:0px;
	padding-left:10px;
	height:28px;
	line-height:28px;
}
.logincontent2 .sendyzm {
	width:130px;
	height:28px;
	line-height:28px;
	margin-left:25px;
	
}
.logincontent2 .sendyzm:hover{
	cursor:pointer;
}
.logincontent2:hover {
	background-color:#EEEEEE;
	cursor:pointer;
}
.logincontent span i{
	padding-left:10px;
	margin:5px auto;
}
.logincontent span input{
	border:0px;
	padding-left:10px;
	height:28px;
	line-height:28px;
}
.loginpro a{
	color:#73ADC9;
	float:right;
}
.loginsub{
	height:45px;
	line-height:45px;
}
.loginsub input{
	margin-top:15px;
	width:279px;
	height:42px;
	line-height:42px;
	background-color:#E71553;
	color:#fff;
}
.loginsubmit input{
	width:279px;
	height:42px;
	line-height:42px;
	background-color:#E71553;
	color:#fff;
}

.loginother{
	margin-top:40px;
	height:28px;
	line-height:28px;
}
.loginother  a{
	margin-right:15px;
}
.loginnotice{
	margin-top:15px;
}
.loginnotice span a{
	color:#73ADC9;
}
.loginnotice .denglu{
	float:right;
}