DIV.sabrosus {
    PADDING-RIGHT: 3px; PADDING-LEFT: 3px; PADDING-BOTTOM: 3px; MARGIN: 3px; PADDING-TOP: 3px; TEXT-ALIGN: center
}

DIV.sabrosus A {
    BORDER-RIGHT: #FF6699 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #FF6699 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #FF6699 1px solid; COLOR: #2e6ab1; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #FF6699 1px solid; TEXT-DECORATION: none
}

DIV.sabrosus A:hover {
    BORDER-RIGHT: #FF6699 1px solid; BORDER-TOP: #FF6699 1px solid; BORDER-LEFT: #FF6699 1px solid; COLOR: #FF6699; BORDER-BOTTOM: #FF6699 1px solid; BACKGROUND-COLOR: lightyellow
}

DIV.pagination A:active {
    BORDER-RIGHT: #2b66a5 1px solid; BORDER-TOP: #2b66a5 1px solid; BORDER-LEFT: #2b66a5 1px solid; COLOR: #000; BORDER-BOTTOM: #2b66a5 1px solid; BACKGROUND-COLOR: lightyellow
}

DIV.sabrosus SPAN.current {
    BORDER-RIGHT: #FF6699 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #FF6699 1px solid; PADDING-LEFT: 5px; FONT-WEIGHT: bold; PADDING-BOTTOM: 2px; BORDER-LEFT: #FF6699 1px solid; COLOR: #fff; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #FF6699 1px solid; BACKGROUND-COLOR: #FF6699
}

DIV.sabrosus SPAN.disabled {
    BORDER-RIGHT: #929292 1px solid; PADDING-RIGHT: 5px; BORDER-TOP: #929292 1px solid; PADDING-LEFT: 5px; PADDING-BOTTOM: 2px; BORDER-LEFT: #929292 1px solid; COLOR: #929292; MARGIN-RIGHT: 2px; PADDING-TOP: 2px; BORDER-BOTTOM: #929292 1px solid
}
