<!DOCTYPE html>
<!--[if lt IE 7]><html class="ie6"><![endif]--><!--[if IE 7]><html class="ie7"><![endif]--><!--[if IE 8]><html class="ie8"><![endif]--><!--[if IE 9]><html class="ie9"><![endif]--><!--[if !IE]><!--><html><!--<![endif]--><head>
<meta charset="utf-8">
<link rel="shortcut icon" href="//www.nuomi.com/static/common/img/favicon.ico">
<meta http-equiv="X-UA-Compatible" content="IE=Edge">
<meta name="renderer" content="webkit">





<title>【团购】团购网站，高品质团购网站_美食美客</title>
<meta name="Description" content="美食美客太原团购-消费者满意的生活服务网，美食、ktv、小吃快餐、自助餐团购精选！更有给力商品折扣，美食美客-便宜实惠，品质保证，服务专业！美食美客，我的生活！" />


<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global_20a287f.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common_a6bd374.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/header_18a1d26.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/list_34495d6.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index_f35f8cb.css"/>
 <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome.min.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font-awesome-ie7.min.css"/>
<!--<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/font_awesome.css"/>-->
<!-- 列表页css -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/channel_8b13577.css"/>
<!-- 详情页css -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/main_a79c03f.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/cartalert_6e5c365.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common_479074b.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/citybar_2daccc1.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/landing_65918fe.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/muti_7bd63db.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/registerdialog_9c735da.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/userinfo_d6a081e.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/search_cae56fa.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/addresseditdialog_6e13988.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/search_81a1833.css"/>
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/nav_cd31ee9.css"/> -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basicinfo_a881ff5.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/menucommon_362b8ce.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/tab_b3d88c8.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/popcarousel_299a9dd.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/filter_20473c7.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/setmeal_67ec3a1.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/list_a3ff725.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/collect_85518c5.css"/>
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/backtop_0d89eba.css"/> -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/footer_c212368.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/menu_f039732.css"/> 
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/global_20a287f.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common_a6bd374.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/header_18a1d26.css"/>
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/list_34495d6.css"/> -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/index_f35f8cb.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/comside_c4ef93e.css"/>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/page.css"/>
<!--付款-->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/basecss_6a5673d.css" />
<!-- <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pc_sd_58f5089.css" /> -->
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/asset_verify_d462c49.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/create_2deb7ea.css" />
<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/pay.css" />
<block name="mycss"></block>
</head>


<body mon="page=index_new" class="gl-big-screen">

	<ul id="j-go-top" class="nav n-go-top" mon="area=right_anchor">
		<li>
			<a href="#" mon="element=gotop&position=0" class="item with-top-border go-top-2">
				<span class="gotop-ico inner-ico">
					<i class="fa fa-chevron-up fa-2x"></i>
				</span>
				<span class="inner-text">回到顶部</span>
			</a>
		</li>
		<li>
			<a target="_blank" class="item" href="#">
				<span class="question-ico inner-ico">
					<i class="fa  fa-edit fa-2x"></i>
				</span>
				<span class="inner-text">问卷调查</span>
			</a>
		</li>
	</ul>

	<div class="header-bar static-hook-real static-hook-id-1" mon="area=navigation" id="header-bar">
		<div class="header-inner clearfix flexible ">
			<ul class="left-city first-level">
				<li class="with-padding">所在区域：山西太原</li>
			
			</ul>
	
			<ul class="right-util first-level" id="j-ucLoginList">
				<li class="welcome-text">
					<span class="welcome-tag" id="j-welcomeTag"></span>
				</li>
				<!-- 判断是否有session -->
				
				<li class="login" <empty name="Think.session.homeuser.username">style="display:inline-block"<else />style="display:none"</empty> >
					<a href="__MODULE__/Public/index/url/1" mon="element=login">登录</a>
					<span class="sep-lines"></span>
				</li>
				<li class="reg" <empty name="Think.session.homeuser.username">style="display:inline-block"<else />style="display:none"</empty> >
					<a href="__MODULE__/Public/register" id="j-barRegBtn1" mon="element=register">注册</a>
					<span class="sep-lines"></span>
				</li>
				<li class="reg" <empty name="Think.session.homeuser.username">style="display:none"<else />style="display:inline-block"</empty> >
					<a href="#" id="j-barRegBtn" mon="element=register">Hi，{$Think.session.homeuser.username}</a>
					<span class="sep-lines"></span>
				</li>
				<li class="login"  <empty name="Think.session.homeuser.username">style="display:none"<else />style="display:inline-block"</empty> >
					<a href="__MODULE__/Public/doLogout/url/1" mon="element=login">退出</a>
					<span class="sep-lines"></span>
				</li>
				<li>
					<a href="__MODULE__/User/showOrder" mon="element=my_order">我的订单</a>
					<span class="sep-lines"></span>
				</li>
				<li class="j-bar-dropdown" id="my_meishi">
					<a href="#"  mon="element=my_nuomi">我的美食<span class="arrow-down-logo"></span></a>
					<span class="sep-lines"></span> 
					<div class="uc-list header-dropmenu">
						<a href="__MODULE__/User/showOrder" class="link">我的订单</a>
						<a href="__MODULE__/User/showCollect" class="link">我的收藏</a>
						<a href="__MODULE__/User/mComment" class="link">我的评价</a>
						<a href="__MODULE__/User/index" class="link">帐户设置</a>
					</div>
				</li>
				
				<li class="j-bar-dropdown" id="shop">
					<a href="#" ><span>我是商家</span><span class="arrow-down-logo"></span></a>
					<span class="sep-lines"></span>
					<div class="merchant-list header-dropmenu">
						<a href="__MODULE__/Seller/index" class="link" target="_blank">商户中心</a>
						<a href="__MODULE__/Public/sRegister" class="link" target="_blank">我想合作</a>
					</div>
				</li>
				<li class="j-bar-dropdown">
					<a href="__MODULE__/Delivery/index" id="shop1"><span>我是配送员</span><span class="arrow-down-logo"></span></a>
				</li>
				<li>
					<a href="#" mon="element=collection" id="addFav">收藏</a>
					<span class="sep-lines"></span>
				</li>
				<li class="j-bar-dropdown">
					<a href="#" id="interest">
						<span class="j-visitedArea-title">关注</span>
					</a>
					<div class="notice-drop">
						<span class="arrow-down-logo" style="margin-left:-80px;">
							<img src="__PUBLIC__/images/weixin.jpg" width="100"/>
						</span>
						<div class="new-erweima"></div>
						<h4>美食美客：<span class="hot">   π先生</span></h4>
					</div>
				</li>
			</ul>
		</div>
	</div>

<div class="search-bar clearfix flexible static-hook-real static-hook-id-2" mon="area=searchTop">
	<div class="logo-area">
		<a href="__MODULE__/Index/index" class="logo" mon="element=logo" title="美食美客"><i class="new-logo"></i></a>
	</div>
	<div class="search-area clearfix">
		<div data-ui-id="main-searcher" class="form-wrap clearfix">

			<form method="get" action="__MODULE__/List/index" id="j-searchForm" >
				<input type="text" id="j-searchInput" class="searchinput" name="shop" value="" placeholder="搜索商家或地点" autocomplete="off"/>
				<div class="searchbtn-wrap">
					<input type="submit" class="searchbtn" id="j-searchBtn" value=""/>
					<i class="iconfont"><img src="__PUBLIC__/images/search-icon_40f1403.png"/></i>
				</div>
				<!-- <input type="hidden" id="j-input-hidden" name="rid" value="4176517b7a91194553c22ea6a81cbc11"/> -->
			</form>
		</div>
		<ul class="reco-list">
			<li>
				<a href="#" mon="element=hot_query&position=0">聚优惠餐饮</a>
			</li>
			<li>
				<a href="#">中正天街</a>
			</li>
			<li>
				<a href="#" mon="element=hot_query&position=2">生日蛋糕</a>
			</li>
		</ul>
	</div>
	<div class="utils clearfix">
		<a href="#" mon="element=just_retire" target="_blank">
			<div class="util-item refund">
				<i class="iconfont"><img src="__PUBLIC__/images/tui_5097eac.png"/></i>
				<div class="util-tip">未消费，随便退！</div>
			</div>
			<div class="util-item mid">
				<i class="iconfont"><img src="__PUBLIC__/images/pei_b814caf.png"/></i>
				<div class="util-tip">消费不满意先行赔付！</div>
			</div>
		</a>
	</div>
</div>

<div class="nav-bar-header nav-area-index static-hook-real static-hook-id-3" >
	<div class="nav-inner flexible clearfix">
		<ul class="nav-list clearfix" mon="area=nav&element_type=nav" id="j-catg">
			<li class="nav-item cate-row all-cate deep">
				<span class="item">全部分类</span>
				<div class="left-menu clearfix" id="j-catg-list">
				</div>
			</li>
			<li class="nav-item nav-item-first">
				<a href="__MODULE__/Index/index" target="_top" class="item first active" mon="element=首页">首页</a>
			</li>
			<li class="nav-item hot-item-l">
				<a href="__MODULE__/List/index" target="_top" class="item " mon="element=品牌馆">品牌馆</a>
			</li>
			<li class="nav-item hot-item-s">
				<a href="__MODULE__/List/index" target="_blank" class="item " mon="element=小吃快餐">小吃快餐</a>
			</li>
			<li class="nav-item">
				<a href="__MODULE__/List/index" target="_top" class="item " mon="element=地方菜">地方菜</a>
			</li>
			<li class="nav-item">
				<a href="__MODULE__/List/index" target="_top" class="item " mon="element=异国风味">异国风味</a>
			</li>
			<li class="nav-item">
				<a href="__MODULE__/List/index" target="_top" class="item " mon="element=烧烤海鲜">烧烤海鲜</a>
			</li>
			<li class="nav-item">
				<a href="__MODULE__/List/index" target="_top" class="item " mon="element=甜点饮品">甜点饮品</a>
			</li>
			<li class="nav-item">
				<a href="__MODULE__/List/index" target="_top" class="item " mon="element=水果鲜生">水果生鲜</a>
			</li>
		</ul>
	</div>
</div>
<!-- 头部结束 -->
<block name="content"></block>



<!-- 尾部 -->
<div class="footer-content">
			<div id="footer" class="footer">
				<div class="footer-inner clearfix flexible">
					<div class="footer-size">
						<h3>用户帮助</h3>
						<ul>
							<li><a href="//www.nuomi.com/help" >常见团购问题</a></li>
							<li><a href="//www.nuomi.com/help/api" >开放API</a></li>
						</ul>
					</div>
					<div class="footer-size-2">
						<h3>手机百度助手</h3>
						<ul>
							<li><a href="https://m.nuomi.com"  target="_blank">美食美客触屏版</a></li>
						</ul>
					</div>
					<div class="footer-size-2">
						<h3>商务合作</h3>
						<ul>
							<li><a href="//www.nuomi.com/links">友情链接</a></li>
							<li><a href="http://cooperation.nuomi.com/clue/index">市场合作</a></li>
						</ul>
					</div>
					<div class="footer-size-2">
						<h3>公司信息</h3>
						<ul>
							<li><a href="//www.nuomi.com/about">关于美食美客</a></li>
							<li><a href="http://weibo.com/nuomiwang" target="_blank">美食美客新浪微博</a></li>
							<li><a href="javascript:;"  id="j-tttel">违规投诉&amp;廉政举报</a></li>
						</ul>
					</div>
					<div class="footer-size-3">
						<h3>4006-888-887</h3>
						<ul>
							<li>周一至周日&nbsp;9:00-22:00</li>
							<li>客服电话&nbsp;免长途费</li>
						</ul>
						<a href="//d.nuomi.com/inter/group?from=WebRootWord" class="mobile-btn">手机专享优惠</a>
					</div>
				</div>
			</div>
			<div id="copyright-info">
				<div class="site-info">
					<span class="copyright">&copy;</span>2017&nbsp;msmk.com            &nbsp;
					<a href="http://www.miitbeian.gov.cn" class="link" target="_blank">京ICP证030173号</a>
				&nbsp;京公网安备11010802014106号
				&nbsp;<a href="/pcindex/main/about/openinfo">营业执照信息</a>
				</div>
				<div class="icons">
				<span class="ico-zhifubao">支付宝-特约商家</span>
				<span class="ico-kexin">可信网站 身份验证</span>
				<span class="ico-web-trust">网站认证 Web Trust</span>
				</div>
			</div>
			<div style="width:300px;margin:0 auto; padding:20px 0;">
				<a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=11000002000001" style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img src="__PUBLIC__/images/police_logo_2aa5dfa.png" style="float:left;"/><p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">京公网安备 11000002000001号</p></a>
			</div>
		</div>
	</body>
	<script src="__PUBLIC__/js/jquery-1.8.2.min.js"></script>
	<script type="text/javascript">

		$("#my_meishi").mouseover(function(){
			$(this).css("backgroundColor","#fff");
		    $(".uc-list").show();
		});
		$("#my_meishi").mouseout(function(){
			$(this).css("backgroundColor","#FAFAFA");
			$(".uc-list").hide();
		});
	
		
		$("#shop").mouseover(function(){
			$(this).css("backgroundColor","#fff");
			$(".merchant-list").show();
		});
		$("#shop").mouseout(function(){
			$(this).css("backgroundColor","#FAFAFA");
			$(".merchant-list").hide();
		});
		$("#interest").mouseover(function(){
			$(this).css("backgroundColor","#fff");
			$(".notice-drop").show();
		});
		$("#interest").mouseout(function(){
			$(this).css("backgroundColor","#FAFAFA");
			$(".notice-drop").hide();
		});
		$(".close-bottom-ad").click(function(){
			$(".bottom-ad").hide();
		});
		$(".close-button").click(function(){
			$(".uc-order-status").hide();
		});
		$(".first-level").mouseover(function(){
			$(".second-level").show();
		});
		$(".first-level").mouseout(function(){
			$(".second-level").hide();
		});
		
		var list = document.getElementsByName("adpic");
		var m=0;
            
		function running(){
			imgShow(m);
			m++;
			if(m>=list.length){
				m=0;
			}
			
			setTimeout("running()",3000);
		}
            
		running();
		
		//定义函数输出指定的图片
		function imgShow(n){
			for(var i=0;i<list.length;i++){
				if(n==i)
					list[i].style.opacity = 1;
				else
					list[i].style.opacity = 0;
			}
		}
	</script>
	<block name="myscript"></block>
</html>

